.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); /* Adjust based on header height */
  background-color: #fcfcfc;
}

.welcome-section {
  text-align: center;
}

.welcome-text {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 12px;
}

.tagline-text {
  font-size: 16px;
  color: #666666;
  font-weight: 400;
}
